openapi: 3.0.3
info:
  title: Authorization API
  description: 認可サーバーのAPI群です。
  version: 1.0.0
  contact:
    name: API開発チーム
    email: nagashibas@sii-japan.co.jp

servers:
  - url: https://apis.sii-japan.jp/v1
    description: 本番環境
  - url: https://apisーstg.sii-japan.jp/v1
    description: ステージング環境
  - url: https://apisーdev.sii-japan.jp/v1
    description: 開発環境
  - url: https://apis.sii-japan.local/v1
    description: ローカル環境

paths:
  /clients:
    get:
      summary: クライアント一覧
      tags:
        - client
      responses:
        '200':
          description: 正常応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clients'
        '404':
          description: ユーザーが存在しない場合のエラー

  /clients/{id}:
    get:
      summary: クライアント検索
      tags:
        - client
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: クライアントID
      responses:
        '200':
          description: 正常応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '404':
          description: ユーザーが存在しない場合のエラー

  /register:
    post:
      summary: クライアント登録
      tags:
        - client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreate'
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "SUCCESS"
        '400':
          description: リクエストが不正です
        '500':
          description: サーバーエラー

  /clients/{id}/modify:
    put:
      summary: クライアント変更
      tags:
        - client
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: クライアントID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreate'
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "SUCCESS"
        '400':
          description: リクエストが不正です
        '500':
          description: サーバーエラー

  /clients/{id}/remove:
    delete:
      summary: クライアント削除
      tags:
        - client
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: クライアントID
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "SUCCESS"
        '404':
          description: ユーザーが存在しない場合のエラー

  /issue:
    get:
      summary: JWTを発行する
      tags:
        - auth
      description: クライアントに対してJWTを発行します。
      security:
        - bearerAuth: []    # アクセストークン
      parameters:
        - name: member
          in: query
          required: true
          schema:
            type: string
          description: クライアント会員ID
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "SUCCESS"
        '400':
          description: リクエストが不正です
        '500':
          description: サーバーエラー

  /client/{identifier}/verify:
    get:
      summary: JWTを検証する
      tags:
        - auth
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
          description: クライアント識別名

        - name: token
          in: query
          required: true
          schema:
            type: string
          description: クライアント識別名
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "SUCCESS"
        '400':
          description: リクエストが不正です
        '404':
          description: JWTが見つかりませんでした。
        '500':
          description: サーバーエラー

components:
  schemas:
    Account:
      type: object
      description: クライアントアカウント情報を表すオブジェクトです。
      required:
        - name
        - email
      properties:
        name:
          type: string
          example: "長柴聡史"
        email:
          type: string
          format: email
          example: "nagashibas@sii-japan.co.jp"

    Accounts:
      type: array
      description: クライアントアカウントのリストです。
      items:
        $ref: '#/components/schemas/Account'

    ClientCreate:
      type: object
      description: クライアント登録情報を表すオブジェクトです。
      required:
        - name
        - identifier
        - post_code
        - pref
        - city
        - address
        - tel
      properties:
        name:
          type: string
          example: "株式会社ストラテジックインサイト"
        identifier:
          type: string
          example: "sii"
        post_code:
          type: string
          example: "1070061"
        pref:
          type: string
          example: "東京都"
        city:
          type: string
          example: "港区北青山"
        address:
          type: string
          example: "二丁目5番8号"
        building:
          type: string
          example: "青山OMスクエア"
        tel:
          type: string
          example: "0312345678"
        accounts:
          $ref: '#/components/schemas/Accounts'

    Client:
      type: object
      description: クライアント情報を表すオブジェクトです。
      required:
        - id
        - name
        - identifier
        - post_code
        - pref
        - city
        - address
        - tel
        - created_at
        - created_name
        - updated_at
        - updated_name
        - version
      properties:
        id:
          type: integer
          format: int64
          example: "1"
        name:
          type: string
          example: "株式会社ストラテジックインサイト"
        identifier:
          type: string
          example: "sii"
        post_code:
          type: string
          example: "1070061"
        pref:
          type: string
          example: "東京都"
        city:
          type: string
          example: "港区北青山"
        address:
          type: string
          example: "二丁目5番8号"
        building:
          type: string
          example: "青山OMスクエア"
        tel:
          type: string
          example: "0312345678"
        created_at:
          type: string
          format: date-time
          example: "2025-11-01T10:00:00Z"
        created_name:
          type: string
          example: "長柴聡史"
        updated_at:
          type: string
          format: date-time
          example: "2025-11-01T10:00:00Z"
        updated_name:
          type: string
          example: "長柴聡史"
        deleted_at:
          type: string
          format: date-time
          example: "2025-11-01T10:00:00Z"
        deleted_name:
          type: string
          example: "長柴聡史"
        version:
          type: integer
          example: "1"

    Clients:
      type: array
      description: クライアントのリストです。
      items:
        $ref: '#/components/schemas/Client'

    Payload:
      type: object
      description: JWTのPayload情報を表すオブジェクトです。
      required:
        - iss
        - sub
        - aud
        - exp
        - iat
        - nbf
        - jti
      properties:
        iss:
          type: string
          description: 固定値
          example: "sii-auth"
        sub:
          type: string
          description: クライアント会員番号（半角英数字）
          example: "A123456789"
        aud:
          type: string
          description: クライアント識別名
          example: ":identifier"
        exp:
          type: integer
          format: int64
          description: UNIXタイムスタンプ（秒単位）
          example: "1560000000"
        iat:
          type: integer
          format: int64
          description: UNIXタイムスタンプ（秒単位）
          example: "1560000000"
        nbf:
          type: integer
          format: int64
          description: UNIXタイムスタンプ（秒単位）
          example: "1560000000"
        jti:
          type: string
          format: uuid
          description: JWTを発行するたびに割り振られる重複しないID（UUID v4）
          example: "f55a406c-8d3c-4306-836f-5cc0d508a07f"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

tags:
  - name: client
    description: クライアントAPI
  - name: auth
    description: 認可API
